div {
/*
	border-top-color-index		:0;
	border-right-color-index	:0;
	border-bottom-color-index	:0;
	border-left-color-index		:0;
*/
}

div,p,input,object {
	margin				:0px;
	padding				:0px;
	border-width			:0px;
	border-style			:none;
	position			:absolute;
	left				:0px;
	top				:0px;
	width				:0px;
	height				:0px;
	z-index				:auto;
	display				:block;
	visibility			:inherit;
	overflow			:hidden;
/*
	background-color-index		:0; // object:8
	nav-index			:none;
	nav-up				:none;
	nav-down			:none;
	nav-left			:none;
	nav-right			:none;
*/
}

p,input {
	line-height			:normal;
	font-family			:'ARISAKA-','IPAå';
	font-size			:24px;
	font-weight			:normal;
	text-align			:left;
	letter-spacing			:normal;
	white-space			:normal;
/*
	color-index			:0;
	border-top-color-index		:0;
	border-right-color-index	:0;
	border-bottom-color-index	:0;
	border-left-color-index		:0;
	grayscale-color-index		:30 15;
	nav-index			:none;
	nav-up				:none;
	nav-down			:none;
	nav-left			:none;
	nav-right			:none;
*/
}

span,a {
	border-width			:0px;
	border-style			:none;
	position			:static;
	z-index				:auto;
	line-height			:inherit;
	display				:inline;
	visibility			:inherit;
	font-family			:'ARISAKA-','IPAå';
	font-size			:24px;
	font-weight			:normal;
	letter-spacing			:inherit;
/*
	color-index			:0;
	border-top-color-index		:0;
	border-right-color-index	:0;
	border-bottom-color-index	:0;
	border-left-color-index		:0;
	grayscale-color-index		:30 15;
*/
}

br {
	position			:static;
	z-index				:auto;
	line-height			:inherit;
	display				:inline;
}

body {
	z-index				:auto;
	display				:block;
	visibility			:visible;
	background-image		:none;
	background-repeat		:repeat;
/*
	clut				:<uri>;
	background-color-index		:0;
	resolution			:960x540;
	display-aspect-ratio		:16v9;
	used-key-list			:basic databutton;
*/
}

/* additional properties */
body {
	margin		:0px;
	padding		:0px;
	border-width	:0px;
	position	:absolute;
}

div,a {
	font-size	:100%;
	white-space	:normal;
}

span,a {
	font-size	:100%;
}

p,input,span,a,br {
	line-height	:100%;
}
p {
	white-space	:pre;
}

/*pre {
	margin		:0px;
	paddin		:0px;
	border-width	:0px;
	font-size	:100%;
	font-family	:'ARISAKA-','IPAå';
	white-space	:pre;
	letter-spacing	:normal;
}*/

#_bml_debug_bgplane_ {
	position	:absolute;
	left		:6px;
	top		:228px;
	border		:1px solid #808080;
	width		:704px;
	height		:304px;
	z-index		:65535;
	visibility	:visible;
	opacity		:0.8;
	background-color:#202020;
}
#_bml_debug_plane_ {
	position	:absolute;
	left		:8px;
	top		:230px;
	width		:700px;
	height		:300px;
	color		:#ffffff;
	z-index		:65535;
	font-size	:15px;
	line-height	:15px;
	font-family	:'ARISAKA-','IPAå';
	visibility	:visible;
	overflow	:hidden;
}
span._bml_debug_debug_ {
	color		:#ffffff;
	font-size	:11px;
	line-height	:11px;
}
span._bml_debug_info_ {
	color		:#a0a0ff;
	font-size	:12px;
	line-height	:12px;
}
span._bml_debug_warn_ {
	color		:#ffa0a0;
	font-size	:12px;
	line-height	:12px;
}
span._bml_debug_error_ {
	color		:#ff0000;
	font-size	:15px;
	line-height	:15px;
}
