@charset "UTF-8";
/* CSS Document */

body {
	background: #FFF;
	margin: 0px;
	padding: 0px;
}
h1 {
	color: #FFF;
	background: #000;
	padding: 10px 10px 10px 20px;
	margin: 0px 0px 20px;
}
h2 {
	text-align: left;
	font: bold 160% "Arial Black", Gadget, sans-serif;
	color: #FFF;
	margin: 0px 0px 15px;
	padding: 0px 20px 10px;
	background: #ffb400;
	letter-spacing: 0.1em;
}
p {
	text-align: left;
	font-size: 85%;
	line-height: 160%;
	color: #333;
	margin: 0px 20px;
	padding: 0px;
}
img {
	border-style: none;
}

#tabSlideWrap {
	width: 700px;
	margin-left: 20px;
}

#slidePicture {
	overflow: hidden;
	width: 640px;
	margin-bottom: 10px;
	border: 5px solid #FFF;
}

#slidePicture .SlidingPanelsContentGroup {
	width: 3000px;
}

#slidePicture .SlidingPanelsContent {
	width: 640px;
	text-align: center;
	float: left;
}
.slideBtn img {
	margin: 0px 5px;
	vertical-align: top;
	padding: 0px;
}
.step {
	margin: 10px 0px 0px;
}
.step li {
	display: inline;
	float: left;
	width: 100px;
	margin-right: 3px;
	margin-left: 3px;
	font: bold 85% Arial, Helvetica, sans-serif;
	letter-spacing: 0.05em;
}
.step li a {
	color: #FFF;
	text-decoration: none;
	background: #F60;
	display: block;
	padding: 3px;
}
.step li a:hover {
	background: #F93;
}
.boxSlide01 {
	background: #F60;
	padding-top: 30px;
	padding-bottom: 10px;
	padding-left: 25px;
}
.boxSlide02 {
	background: #FFF;
	padding-bottom: 10px;
	border: 10px solid #ffb400;
}
.TabbedPanelsTab.TabbedPanelsTabSelected img {
	vertical-align: top;
}




/* clearfix ---------------------------------------- */
.clearfix:after{
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}

.clearfix{
    display:inline-block;
    min-height:1%;  /* for IE 7*/
}
